docs-quarto
Manual.html
build
*~
OPAL_Manual.html
*.adoc
*.aux
*.bak
*.bbl
*.cb
*.cb2
*.glo
*.idx
*.lof
*.log
*.lot
*.out
*.pdf
!quarto/sections/appendices/developer-build/opalx-overview.pdf
!quarto/docs-quarto/sections/appendices/developer-build/opalx-overview.pdf
*.tex
*.toc
*.xml
*.4tc
*.dvi
*.tmp
*.xref
